/* Reset and global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: #fff;
}

body {
  background: linear-gradient(135deg, #000000, #1c1c1c);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding: 40px;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 40px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.header .logo img {
  width: 300px;
  margin: 0 auto;
  animation: fadeIn 2s ease-in-out;
}

.main-content h1 {
  font-size: 60px;
  margin-top: 50px;
  margin-bottom: 20px;
  background: linear-gradient(135deg, #ffffff, #dcdcdc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slideIn 1.5s ease-in-out;
}

.main-content h1 span {
  display: block;
  margin-top: 10px;
  font-weight: 300;
  font-size: 40px;
  color: #dcdcdc;
}

.main-content p {
  font-size: 22px;
  margin-bottom: 40px;
  line-height: 1.5;
  color: #e0e0e0;
}

.contact p {
  margin-bottom: 10px;
  font-size: 20px;
}

.contact p a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid #555555;
  transition: border-bottom 0.3s ease, color 0.3s ease;
}

.contact p a:hover {
  border-bottom: 2px solid #ffffff;
  color: #bbbbbb;
}

.spotify-links ul {
  list-style: none;
  padding: 0;
}

.spotify-links li {
  margin: 10px 0;
}

.spotify-links a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.spotify-links a:hover {
  color: #dcdcdc;
}

.footer {
  margin-top: 60px;
}

.circle-animation {
  width: 100px;
  height: 100px;
  margin: 50px auto;
  border-radius: 50%;
  background: linear-gradient(135deg, #ffffff, #dcdcdc);
  animation: rotate 5s infinite linear, pulse 2s infinite ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
